body {
  /*background-color: rgb(12 30 59);*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100dvh;
  background-image: url(./question-frame.svg);
  background-position: center;
  background-size: cover;
}

.quiz-container {
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  overflow: hidden;
  width: 750px;
  margin: 30px;
  padding: 4rem;
  background: radial-gradient(circle, rgb(8 139 0) 0%, rgb(23 87 51) 100%);
}

h2 {
  margin-bottom: 4rem;
  text-align: center;
  font-size: 3rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 2.2rem;
  margin: 1rem 0;
}

ul li label {
  cursor: pointer;
}

#btn-container {
  display: flex;
  justify-content: space-between;
}

#btn-container button {
  border: none;
  color: white;
  font-family: inherit;
  font-size: 1.4rem;
  padding: 1.3rem;
  width: 100%;
  margin-top: 30px;
}

#btn-container button:hover {
  cursor: pointer;
}

/*#btn-container #btn-submit-answers:hover {*/
/*  background-color: #1928c9e6;*/
/*}*/

#btn-container #btn-exit:hover {
  background-color: #ff0707c5;
}

#btn-submit-answers {
  background-color: #101b91e6;
  border-radius: 1.2rem;
}

#btn-exit {
  background-color: #c00000e0;
  border-radius: 1.2rem;
  margin-right: 20px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* Media queries */

@media only screen and (max-width: 767px) {
  .quiz-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul li {
    font-size: 1.4rem;
  }
  #btn-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }
  #btn-container button {
    max-width: 300px;
  }
  #btn-exit {
    margin-right: 0;
  }
  h2 {
    font-size: 2rem;
  }
}

